*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body{
    width: 100%;
    font-family: Calibri;
	padding: 10px 20px;
  background-image: url(fondo2.jpg);
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  color: white;

	
}

.general{
  width: 50%;
  background-image: url(fondo.jpg);
  background-attachment: fixed;
  background-size: cover;
  border: 4px solid rgb(0, 0, 0);
  padding: 20px;
  border-radius: 25px;
}

input, textarea {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 4px;
  width: 100%;
  margin-top: 10px;
  background-color: rgba(240, 248, 255, 0.774);

}

label {
  width: 100%;
  font-weight: bold;
  display: inline-block;
  margin-top: 20px;
}

.descrip{
  background: rgb(58, 58, 58);
  width: 100%;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 25px;

}

.estructura-juego{
  width: 80%;
 
  border-radius: 25px;
  
}

#botonreset{
  display: none;
}

#seleccionador{
  display: none;
}

.seleccionador{
  width: 100%;
  padding: 30px;
  margin-bottom: 10px;
  background: rgba(0, 0, 0, 0.589);


}

.jugadores{
  width: 100%;
  display: none;
  justify-content: space-evenly;
  
}

.jugador1{
  width: 48%;
  padding: 30px;
  background: rgba(0, 0, 0, 0.589);
  margin-right: 10px;
  text-align: center;

 
 
}


.jugador2{
  width: 48%;
  padding: 30px;
  background: rgba(0, 0, 0, 0.589);
  text-align: center;
}

.marcadores{
  width: 100%;
  display: none;
  justify-content: space-evenly;
  margin-top: 10px;
}

.marcador1{
  width: 48%;
  padding: 10px;
  background: rgba(0, 0, 0, 0.589);
  margin-right: 10px;
  text-align: center;
 ;
}

label.error {
  color: red;
  font-size: 1rem;
  display: block;
  margin-top: 5px;
}

input.error, textarea.error {
  border: 1px dashed red;
  font-weight: 300;
  color: red;
}


button,
#submit {
  background-color: #af0404;
  border: none;
  border-radius: 25px;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  width: 100%;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover,
#submit:hover {
  background-color: ivory;
  color: #ce0b0b;}

.marcador2{
  width: 48%;
  padding: 10px;
  background: rgba(0, 0, 0, 0.589);
  text-align: center;
 
}

#botonNuevoJuego{
  display: none;
}

.resultados, #resultados{
  display: none;
  margin-top: 10px;
  width: 100%;
  padding: 20px 60px;
  background: rgba(0, 0, 0, 0.589);
  text-align: center;
  
 

}

.centrar{
  display: flex;
  justify-content: center;
}

select{
  width: 100%;
  height: 30px;
  margin-bottom: 15px;
  background-color: #f8cbcbe8;
  text-align: center;
  font-size: 20px;
}

#puntos1 , #puntos2{
  text-align: center;
  font-size: 30px;
}

#puntos1{
  color: greenyellow;
}

#puntos2{
  color: #ce0b0b;
}

#botoningresar{
  margin-top: 15px;
}

@media screen and (max-width: 500px) {
  .general{
    width: 100%;
  }

    .estructura-juego{
width: 100%;

}

.imagen1, .imagen2{
  width: 100%;
}

#imagenjugador1, #imagenjugador2{
  width: 100%;

}
}